<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
    <script src="/javascripts/usersCtrl.js"></script>
  </head>
  <body ng-app="userAuthHash" ng-controller="usersCtrl">
    <h2>Register</h2>
    <br>
    <p>Username</p>
    <input ng-model="registerInput.username" type="text">
    <p>Password</p>
    <input ng-model="registerInput.password" type="text">
    <p>Password Again</p>
    <input ng-model="registerInput.passwordAgain" type="text">
    <br>
    <br>
    <button ng-click="register()">Register</button>

    <h2>Login</h2>
    <br>
    <p>Username</p>
    <input ng-model="loginInput.username" type="text">
    <p>Password</p>
    <input ng-model="loginInput.password" type="text">
    <br>
    <br>
    <button ng-click="login()">Login</button>
    <br>
    <br>
    <!--
    <div ng-controller="navCtrl" ng-show="isLoggedIn">
        <button ng-click="logout()">log out</button>
    </div>
    -->
  </body>
</html>
